/* Chat Styles */

.chat-container {
  min-height: 100vh;
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  padding: 2rem
}

.chat-content {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  max-width: 56rem;
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.chat-content > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(3rem * var(--tw-space-y-reverse))
}

.chat-sender {
  place-self: end;
  text-align: right
}

.chat-sender-style {
  border-radius: 1rem;
  border-top-right-radius: 0px;
  --tw-border-opacity: 1;
  border-top-color: rgb(34 197 94 / var(--tw-border-opacity));
  border-bottom-color: rgb(34 197 94 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(96 165 250 / var(--tw-bg-opacity));
  padding: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.chat-receiver {
  place-self: start
}

.chat-receiver-style {
  border-radius: 1rem;
  border-top-left-radius: 0px;
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity));
  padding: 1.25rem
}

/* Input Section */

.chat-input-form {
  width: 100%
}

.chat-input-area {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(20 184 166 / var(--tw-border-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.chat-input {
  margin-right: 0.75rem;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-style: none;
  background-color: transparent;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  line-height: 1.25;
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}

.chat-input:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.chat-send-btn {
  width: 15rem;
  border-radius: 0.25rem;
  border-width: 4px;
  --tw-border-opacity: 1;
  border-color: rgb(20 184 166 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(20 184 166 / var(--tw-bg-opacity));
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.chat-send-btn:hover {
  --tw-border-opacity: 1;
  border-color: rgb(15 118 110 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(15 118 110 / var(--tw-bg-opacity))
}

/* People Name */

.chat-people-container {
  margin-top: 0.375rem;
  margin-left: 2rem;
  display: flex;
  justify-content: space-between;
  border-bottom-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

@media (min-width: 640px) {
  .chat-people-container {
    align-items: center
  }
}

.chat-people-img {
  display: flex;
  align-items: center
}

.chat-people-img > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))
}

.chat-people-img-style {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 9999px
}

@media (min-width: 640px) {
  .chat-people-img-style {
    height: 4rem
  }

  .chat-people-img-style {
    width: 4rem
  }
}

.chat-people-name-container {
  display: flex;
  flex-direction: column;
  line-height: 1.25
}

.chat-people-name {
  margin-top: 0.25rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  line-height: 2rem
}

.chat-people-name-style {
  margin-right: 0.75rem;
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}

.chat-people-des-style {
  font-size: 1.125rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}
