@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Classes */
.container {
  @apply flex min-h-screen items-center justify-center bg-gray-200;
}

.content {
  @apply mt-4 rounded-2xl bg-white px-8 py-6 text-left shadow-lg;
}

.icon-center {
  @apply flex justify-center;
}

.icon-color {
  @apply h-24 w-24 text-blue-600;
}

.title-login-bar {
  @apply text-center text-2xl font-bold;
}

.input-login {
  @apply mt-2 h-16 w-full rounded-md border border-gray-400 px-4 py-2 focus:outline-none focus:ring-1 focus:ring-blue-600;
}

.btn-login {
  @apply mt-8 h-14 w-24 rounded-lg bg-blue-600 px-6 py-2 font-sans font-bold text-white hover:bg-blue-900;
}

.login-container {
  @apply flex items-baseline justify-between;
}

.empty-email {
  @apply text-sm tracking-wide text-red-600;
}

.forgot-password {
  @apply font-sans text-lg font-semibold text-blue-600 hover:underline;
}

.block-label {
  @apply block font-sans text-xl tracking-wider text-gray-600;
}

.margin-top-1-rem {
  @apply mt-4;
}

.btn-new-acc {
  @apply mt-8 flex h-14 w-full items-center justify-center rounded-md bg-gradient-to-tr from-pink-500 to-red-400 px-5 py-2 text-center text-lg font-semibold tracking-wider text-white outline-none ring-pink-300 transition duration-100 hover:from-pink-600 hover:to-red-500 focus-visible:ring active:from-pink-700 active:to-red-600 sm:inline-flex;
}

/* Registration classes */
.btn-register {
  @apply mt-8 h-14 w-1/3 rounded-lg bg-blue-600 font-sans font-bold text-white hover:bg-blue-900;
}

/* .input-login-half {
    @apply h-16 appearance-none block w-full leading-tight px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600;
} */

.content-block {
  @apply -mx-3 mt-4 mb-6 flex flex-wrap;
}

.first-of-two {
  @apply mb-6 w-full px-3 md:mb-0 md:w-1/2;
}

.second-of-two {
  @apply w-full px-3 md:w-1/2;
}

.one-of-three {
  @apply mb-6 w-full px-3 md:mb-0 md:w-1/3;
}

.two-of-three {
  @apply mb-6 w-full px-3 md:mb-0 md:w-2/3;
}

.option-block {
  @apply relative;
}

.option-class {
  @apply block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 pr-8 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none;
}

.down-arrow {
  @apply pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700;
}

.arrow-size {
  @apply h-4 w-4 fill-current;
}

.sm-text {
  @apply px-2 text-sm italic text-gray-600;
}

/* Header */
.nav {
  @apply flex flex-wrap items-center justify-between bg-blue-500 p-6 shadow-xl;
}

.nav-logo {
  @apply mr-6 flex flex-shrink-0 items-center text-white;
}

.nav-logo-size {
  @apply mr-2 h-8 w-8 fill-current;
}

.nav-logo-text {
  @apply text-xl font-semibold tracking-tight;
}

.nav-menu-icon-container {
  @apply block lg:hidden;
}

.nav-menu-icon {
  @apply flex items-center rounded border border-blue-400 px-3 py-2 text-blue-200 hover:border-white hover:text-white;
}

.nav-menu-icon-size {
  @apply h-3 w-3 fill-current;
}

.nav-menu-container {
  @apply ml-6 block w-full flex-grow lg:flex lg:w-auto lg:items-center;
}

.nav-menu-container-right {
  @apply float-right ml-6 block w-full flex-grow lg:flex lg:w-auto lg:items-center;
}

.nav-menu-wrapper {
  @apply text-lg font-semibold lg:flex-grow;
}

.nav-menu-item {
  @apply mt-4 block text-blue-100 hover:text-white lg:mt-0 lg:inline-block;
}

.mr-4c {
  @apply mr-4;
}

.nav-menu-btn {
  @apply mt-4 rounded border border-white px-4 py-2 text-lg leading-none text-white hover:border-transparent hover:bg-white hover:text-teal-500 lg:mt-0;
}

/* Search bar */
.search-bar {
  @apply flex items-center justify-center px-4 sm:px-6 lg:px-8;
}

.search-bar-container {
  @apply relative sm:mr-10 lg:mr-8;
}

.search-bar-input {
  @apply z-0 h-10 w-96 rounded pr-8 pl-5 focus:shadow focus:outline-none;
}

.search-btn-size {
  @apply absolute top-2 right-3;
}

.search-btn-icon {
  @apply z-20 text-gray-400 hover:text-gray-500;
}
